/WebApplication1/nbproject/private/
/BEIBE/nbproject/private/
/BEIBE/build/
/Exec03/nbproject/private/
/Exec03/build/
/Exec03_Autor/nbproject/private/
/Stack/nbproject/private/
/Stack/build/
/BEIBE/dist/
